@import "tailwindcss";
@config "../tailwind.config.ts";

@layer base {
  :root {
    /* shadcn */
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;

    /* custom */
    --gap-clamp: clamp(32px, 3.5vw, 64px);
    --hero-clamp: clamp(500px, 50vw, 600px);
    --width-clamp: clamp(600px, 75vw, 1060px);
    --shadow-light: 0px 0px 8px 4px rgba(0, 0, 0, 0.1);
    --shadow-strong: 0px 0px 8px 4px rgba(0, 0, 0, 0.15);
    --shadow-icon: 0px 4px 12px rgba(0, 0, 0, 0.15);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background: var(--background);
    color: var(--foreground);
  }

  h2 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 48px;
    font-weight: bold;
  }

  p {
    font-family: var(--font-noto-sans), sans-serif;
    font-weight: 600;
  }

  .hero_img:hover {
    transform: translateY(-4px);
  }

  .transitions {
    transition: 0.3s;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
